#grid{
    border-color: blueviolet;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: column; /*for stacking div rows vertically*/
    align-items: center;
    flex-basis: 1;
    width: 730px;
    height: 450px;
    margin: auto;
}
.div-row{
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    width: 730px;
    height: 150px;
   /* border-width: 1px;
    border-style: solid; */
}
.div-square{
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 5px;
    padding: 1px;
    /* border-width: 1px;
    border-style: solid; */
}
.hover{
    background-color: aqua;
}